body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}

.header-grid {
    background-color: #FE2626;
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-bottom: 70px;
    padding: 15px;
}

.welcome-heading {
    margin-bottom: 50px;
    font-size: 65px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
}

.sticky + .welcome-heading {
    padding-top: 102px;
    margin-top: 100px;
  }

.logo {
    width: 75px;
    height: 75px;
    margin-left: 20px;
}

.nav-grid {
    display: grid;
    grid-template-columns: 150px 1fr;
    /* margin-right: 50px; */
}

.tabs-grid {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 200px repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-right: 20px;
}

.header-tabs {
    font-size: 20px;
    width: fit-content;
    color: white;
}

.header-tabs:hover {
    color: black;
    background-color: white;
    height: 15px;
    border: 1px white;
    border-radius: 5px;
    padding: 5px 5px 10px 5px;
}

.rec-categories-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-bottom: 100px;
}

.category-grid {
    display: grid;
}

.categories-image {
    width: 300px;
    height: 275px;
    border-radius: 5px;
}

.categories-label {
    grid-row: 1;
    font-size: 50px;
    justify-self: center;
}

.registration-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-bottom: 70px;
}

.registration-btn a {
    display: grid;
    align-content: center;
    justify-content: center;
    width: fit-content;
    background-color: #FE2626;
    height: 50px;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.registration-btn :hover {
    background-color: white;
    color: black;
}

.meetings-grid {
    display: grid;
    justify-content: center;
    border: 1px solid black;
    height: fit-content;
    padding-bottom: 100px;
}

.meeting-category {
    font-size: 45px;
}

.card-background {
    display: grid;
    justify-content: center;
    width: 800px;
    border: 1px solid rgb(221, 219, 219);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}

.card-background:hover {
    display: grid;
    border: 1px solid black;
    background-color: #F1F1F1;
}

.meeting-title {
    color: blue;
    font-size: 35px;
    margin-bottom: 5px;
    text-decoration: underline;
}

.item-grid {
    display: grid;
    grid-template-columns: 150px 1fr;
    font-size: 25px;
    margin-bottom: 10px;
}

/* .map {
    border: 1px solid black;
    width: 750px;
    height: 325px;
    margin: 0px 25px;
} */

.map-a {
    font-size: 25px; 
}